*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: calc(var(--font-body-scale) * 62.5%);
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100%;
  margin: 0;
  font-family: var(--font-body-family);
  font-size: 1.6rem;
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  letter-spacing: 0;
  line-height: 1.6rem;
}

p {
  display: block;
  background-color: red;
  color: blue;
  color: green;
}
